/* Defaults */
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  @apply text-slate-100;
  font-family: "Roboto Condensed", sans-serif;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

select {
  padding-right: 2.5rem;
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
}

/* NavLink */
a.active {
  @apply text-blue-100 underline underline-offset-2;
}

/* Loading indicator */
.loading {
  color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
  min-height: 24px;
  min-width: 24px;
  overflow: hidden;
  position: relative;
}

.loading::before,
.loading::after {
  content: "";
  display: block;
}

.loading::before {
  backdrop-filter: blur(2px);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.loading::after {
  animation: loading-spin 1s infinite linear;
  border-color: rgba(34, 211, 238, 0.2);
  border-bottom-color: rgba(34, 211, 238, 1);
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  height: 24px;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  width: 24px;
  z-index: 2;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
