node_modules

/public/build
/server/index.js
/server/index.js.map
/server/index.mjs
/server/index.mjs.map
/server/metafile.*
/server/version.txt
preferences.arc
sam.json
sam.yaml
.env

/cypress/screenshots
/cypress/videos

/temp/*